.container {
    display: flex;
    width: 100vw;
    min-height: 30vmin;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    align-items: center;
    /* flex-wrap: wrap; */

}

.container.shop {
    flex-wrap: wrap;
}
.large {
    min-height:50vmin;
}
