.container {
    display: flex;
    width: 100vw;
    height: 30vmin;
    background-color: lightgrey;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.container.large {
    height:50vmin;
}
