.shop-item {
    width: 30vmin;
    height: auto;
    margin: 50px;
    text-decoration: none;
    color: black;
}

.shop-item-image {
    width: 30vmin;
    height: 30vmin;
}

.shop-item-name {
    font-size: 3vmin;
}

.shop-item-price {
    font-weight: bolder;
    font-size: 2vmin;
}


/* Item page elements */

.item-page {
    width: 80vmin;
    height: auto;
    margin: 50px;
    text-decoration: none;
    color: black;
}

.item-page-image {
    width: 50vmin;
    height: 50vmin;
    float: left;
}

.item-page-name {
    font-size: 6vmin;
    margin: 30px;
}

.item-page-price {
    font-weight: bolder;
    font-size: 4vmin;
    margin: 10px;
}

.item-page-description {
    width: 100%;
    display: block;
    float: left;
    margin-top: 5vmin;
}

.add-basket-button {
    margin-top: 10vmin;
}